{% extends "base.html" %}
{% set active_page = "index" %}

{% block content %}
<div class="row text-center">
    <div class="col-lg-12">
        <div class="page-header">
            <h1>Thermal Printer Bot</h1>
            <p class="lead">Submit messages and images and watch them print live on a thermal printer!</p>
        </div>
    </div>
</div>

<div class="row text-center bottom-buffer">
    <div class="col-lg-12">
        {% if g.user.is_authenticated %}
        <div>
        Hello {{ g.user.nickname }}, you have <strong>{{ g.user.credits }}</strong> credits.<br>
        Visit <a href="{{ url_for('profile') }}">your profile</a> to obtain more credits.
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}

