{% extends "base.html" %}

{% block content %}
<h1>Thermal Printer Bot</h1>
<p>Submit messages and images and watch them print live on a thermal printer!</p>

{% if g.user.is_authenticated %}
<p>
Hello {{ g.user.nickname }}, you have {{ g.user.credits }} credits available to spend.<br>
Visit <a href="{{ url_for('profile') }}">your profile</a> to obtain more credits.
</p>
{% endif %}

{% if debug %}
[twitch iframe]
{% else %}
<iframe src="https://player.twitch.tv/?channel=talon876" frameborder="0" allowfullscreen="true" scrolling="no"
    height="378" width="620"></iframe>
{% endif %}
{% endblock %}

