{% extends "base.html" %}

{% block content %}
<h1>{{ g.user.nickname }}</h1>
<br>
<div>Available Credits: <strong>{{ g.user.credits }}</strong></div>

{% if g.user.btc_address %}
<p>To obtain more credits, send bitcoins to <strong>{{ g.user.btc_address.address }}</strong>.</p>
<img src="https://blockchain.info/qr?size=200&data={{ g.user.btc_address.address }}"/>
<p>Credits may not show up immedietly. In some cases, it can take up to fifteen minutes. Click the button below after you have sent bitcoins.</p>
<form method="post" action="{{ url_for('refresh_transactions') }}">
    <input type="submit" value="Search for new transactions"/>
</form>

{% if txns | length > 0 %}
<hr>
<div>Unprocessed transactions</div>
<ul>
{% for txn in txns %}
<li>
    {{txn.amount/100000}} mBTC @ {{txn.timestamp}} UTC
    <form method="post" action="{{ url_for('bitcoin_to_credits', txnhash=txn.txn_hash) }}">
        <input type="submit" value="Convert to credits"</input>
    </form>
</li>
<br>
{% endfor %}
</ul>
{% endif %}

{% else %}
<p>Click the button below to be able to buy credits with bitcoin.</p>
<form method="post" action="{{ url_for('setup_bitcoin') }}">
    <input type="submit" value="Enable bitcoin payments">
</form>
{% endif %}

{% endblock %}

